html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main h1 {
    color: rgb(234, 207, 255);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 4vw;
    opacity: 0.3;
}