:root {
    --header-height: 48px;
    --max-width: 1280px;
    --padding-header: 8px 12px;
    /* Defines a primary color variable */
}

/**
*   Reset
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


/** Normal Styles **/


:root body,
:root html {
    color: white;
    /* background-color: rgb(22, 22, 22); */
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3 {
    color: rgb(203, 203, 203);
}

#header {
    display: flex;
    position: fixed;
    background-color: rgb(51, 51, 51);
    width: 100vw;
    color: aliceblue;
    justify-content: center;
    height: var(--header-height);
}

#header * {
    display: flex;
}

#header a {
    display: block;
    margin-left: 12px;
}

#header .header-content {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
    padding-top: var(--header-height);
}

#main>* {
    width: 100%;
    max-width: var(--max-width);

}

#modal-container {
    display: none;
}

a {
    color: white;
}

h3 {
    color: white;
    padding: var(--padding-header);
    font-size: 1em;
    font-weight: 600;
}