.list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    list-style-type: none;
    margin: 0;
}

.list .row {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    justify-content: space-between;
}

.list .row>* {
    flex-grow: 1;
    flex-basis: 0;
}

.list .row>:last-child {
    text-align: right;
}