<body>
  <style>
    .hero-a {
      position: relative;
      width: 100%;
      height: 692px;
    }

    .hero-a .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg');
      background-size: 3008px 692px;
      background-position: center;
    }

    .hero-a .content {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      color: white;
    }
  </style>

  <div data-component-id="hero-a" class="hero-a">
    <div class="bg"></div>
    <div class="content">
      <h1>My Heading</h1>
      <h3>Subheading</h3>
    </div>
  </div>
</body>